@import "libraries-frontend-framelunch/css/_variables.css";

:root {
  --color-text: #121;
  --color-bg: hsl(0, 0%, 95%);
  --max-content-width: 1070px;
  --fontFamily-base: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic,
    YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  --fontFamily-oswald: "Oswald", sans-serif;
}

@custom-media --large-tb (min-width: 1024px);
